# setting.config(UTF-8)

[token]
account = 13842090856
password = 9b336064bb7c8fdf657052729802bbf1
countrycode = 86

[setting]
# api = https://netease-cloud-api.muir.fun/
# api = https://netease.gocos.cn/
# api = https://mytools.chiser.cc/music-api/
# api = http://www.ljfchtcc.com:4163/
api = https://shijcc.top/cloudmusic-api/
# api = http://api.husky105.cn/
md5Switch = false
peopleSwitch = false
sckey = SCU51237Tb634c4a051b8067ee4baa3d401cd30b15ceeb5444b972
